.wrapper {
    background-color: teal;
    color: white;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1.5rem;
}

.top .item {
    padding-top: 1rem;
    padding-bottom: .2rem;
}

.bottom .item {
    padding-top: 1rem;
    padding-bottom: .2rem;
}

.item {
    font-size: 2rem;
}

.item2 {
    font-size: 1.2rem;
}

.top {
    margin-right: 1rem;
}

.em {
    color: white;
}

.item2 a {
    color: orange;
}

.wrapper {
   padding-bottom: 2.5rem;
    background-color: teal;
}

@media screen and (max-width: 70rem) {
    .wrapper {
        flex-direction: column;
    }


    .item {
        font-size: 1.5rem;
    }

  }