header {
  width: 100vw;
  height: 70px;
  overflow: hidden;
  background-color: black;
  position: fixed; 
  top: 0;
  z-index: 99;
}

.nav-item {
  margin-right: 5px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  padding: 0px;
  line-height: 40px;
  font-weight: 500;
  text-shadow: none;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.flex-nav {
  margin-top: 12.5px;
}

.nav-item2 {
  border: 1px solid;
  padding: 6.5px;
  text-transform: uppercase;
  color: white;
  font-style: bold;
  line-height: 30px;
  font-weight: 500;
  font-size: 50px;
  text-shadow: none;
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

.nav-item2:hover {
  color: white;
  border-color: teal;
}

.flex-nav li {
  margin-left: 40px;
  font-size: 15px;
}

.flex-nav .nav-item:hover {
  border-bottom: 2px solid teal; 
  transition: border-bottom .5s ease-out;   
}

.flex-nav .top-bar {
  list-style: none;
  display: flex;
  padding: 0px;
  padding-right: 50px;
}

.logo-image {
  position: relative;
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 55px;
  margin-left: 90px;
}

@font-face { 
  font-family: "Open Sans"; 
  font-style: normal; 
  font-weight: 400; 
  src: local("Open Sans Regular"), 
  local("OpenSans-Regular"), 
  url("https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2") format("woff2"); 
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
}


@media screen and (max-width: 700px) {
  .nav-item {
      display: none;
  }

  .nav-item2 {
    border: 1px solid;
    padding: 6.5px;
  }
}

@media screen and (min-width: 700px) {
  .stuff {
    visibility: hidden;
  }
}



.none {
  display: none;
}

.stuff {
  margin-left: 1rem;
  margin-top: 2rem;
}

.stuff {
  background-color: black;
  width: 90px;
  margin-left: 0px;
  list-style-type: none;
  color: red;
  z-index: 20;
  position: fixed;
  padding: 10px;
  font-size: 1.2rem;
}



.heading {
  display: block;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  opacity: 1;
  color: #FD3A4A;
}

.heading2 {
  display: block;
  animation-name: moveOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 1;
  color: #FD3A4A;
}

@keyframes moveInRight {
  0% {
      transform: translateX(-10rem);
  }

   100% {
     transform: translateX(0);
   }
}

@keyframes moveOut { 
  0% {
      transform: translateX(0);
  }

   100% {
     transform: translateX(-15rem);
   }
}


li a {
  color: white;
  text-decoration: none;
}

.stuff li {
  padding-bottom: 5px;
}

.stuff li a:hover {
  color: orange;
}

.nav-item2 {
  cursor: pointer;
}