body {
    -webkit-text-size-adjust: none;
}

.portfolio {
    height: 100%;
    background-color: #EEEEEE;
    padding-bottom: 2rem;
    padding-right: 4rem;
}

.flex-row {
    font-size: 1.8rem;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


h2 {
    padding-top: 2rem;
}

.flex-row2 {
    margin-left: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.box1 {
    padding-bottom: 2rem;
}

.box2 {
    padding-bottom: 2rem;
}

.social {
    padding: .3rem;
    border: .2rem solid;
    margin-right: 1rem;
}

.proj {
    margin-bottom: 1.5rem;
 }

 a {
     text-decoration: none;
     color: black;
 }

 .social:hover {
     color: teal;
 }

 .proj2 {
     margin-top: 1rem;
     margin-bottom: 1.5rem;
 }

 .portfolio img {
    margin-left: 10rem;
    max-width: 43rem;
    max-height: 24.5rem;
    margin-top: 2rem;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 950px) {
    .flex-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; 
    }

    .box1 {
        margin-right: 5px;
    }

    
    .portfolio img {
        margin-bottom: 2rem;
        max-width:75%;
        max-height:79.4rem;
        width: 100%;
        height: 100%;
        margin-right: 10rem;
    }

  }

  @media screen and (max-width: 600px) {
    .flex-row2 {
        font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 1049px) and (min-width: 720px) {
    .third {
        margin-top: 2rem;
    }
  }

   @media screen and (max-width: 307px) {
        .portfolio h2 {
            font-size: 3rem;
        }

        .portfolio {
            width: 90%;
        }
    }


/* IPHONE6 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) {
    .flex-row {
        padding-bottom: 0rem;
    }

    .box2 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .demos {
        padding-top: 1rem;
    }

    .flex-row2 {
        padding-bottom: 0rem;
    }

    .portfolio {
        width: 100vw;
    }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .flex-row {
        padding-bottom: 1rem;
    }
    .flex-row2 {
        padding-bottom: 1rem;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
    .flex-row {
        padding-bottom: 1rem;
    }
    .flex-row2 {
        padding-bottom: 1rem;
    }
}

