html {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans"; 
    font-style: normal; 
}

body {
    -webkit-text-size-adjust: none;
}

.banner {
    font-size: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: teal;
    padding: 18px;
    padding-top: 90px;
}

.banner h2 {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
    color: #fff;
}


